body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center; /* Center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    color: #f3c623;
    text-align: center;
    margin-top: 20px;
  }

  div {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    text-align: center; /* Center content */
  }
  
  label {
    color: #f3c623;
  }
  
  input[type="datetime-local"] {
    background-color: #444;
    border: 1px solid #444;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
  }
  
  input[type="datetime-local"]::-webkit-datetime-edit-fields-wrapper {
    background-color: #444;
    border: 1px solid #444;
    border-radius: 3px;
  }
  
  input[type="datetime-local"]::-webkit-inner-spin-button {
    display: none;
  }
  
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: #f3c623;
    cursor: pointer;
  }
  
  button {
    background-color: #f3c623;
    color: #222;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #222;
    color: #f3c623;
  }
  
  #result {
    color: #f3c623;
    margin-top: 10px;
    font-weight: bold;
  }
  
  #priceOutput {
    color: #f3c623;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Additional styles specific to your price checker section */
  #priceOutput button {
    background-color: #f3c623;
    color: #222;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #priceOutput button:hover {
    background-color: #222;
    color: #f3c623;
  }
